---

---

<section class="section-padding">
  <div class="container container--narrow">
    <ul class="requisitos-list">
      <li><a href="/">Volver al inicio</a></li>
      <li><a href="/adoptar/">Ver galgos en adopción</a></li>
      <li><a href="/hogar-temporal/">Postular a hogar temporal</a></li>
      <li><a href="/donar/">Apoyar el rescate</a></li>
      <li><a href="/contacto/">Escribirnos</a></li>
    </ul>
  </div>
</section>
