---
import "../../styles/components/supporters-intro.css";
---

<div class="supporters-intro">
  <p class="eyebrow">RED DE APOYO</p>
  <p class="supporters-intro__lead">
    Este espacio reúne a quienes apoyan el trabajo de Brigada Galgos y hacen posible acompañar mejor cada rescate,
    recuperación y proceso de adopción.
  </p>
</div>
